div {
   border: 5px solid black;
   border-radius: 20px;
   box-shadow: 2px 2px 50px 5px white,
   inset 0px 0px 30px 10px white;
   width: 96%;
   height: 40%;
   }

body.homepage {
   background-image: url("Background.jpeg");
 height: 95%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

body.movie {
  background-color: silver;
}

h1 {
  font-family: calibri;
  box-shadow: 2px 2px 50px 5px grey,
  inset 0px 0px 30px 10px white;
  font-size: 30pt;
  text-align: center;
   padding: 20px;
   background-color: darkgrey;
   border-radius: 20px;
   color: white;
}

p{
  text-align: left;
  font-family: arial black;
  font-size: 13pt;
  color: green;
  font-weight: bold;
}

h2 {
  align: center;
  font-family: arial;
}

a{
  text-decoration: none;
}

td{
color: orange;
font-family: arial;
}

li{
font-family: arial;
}

img.avatar{
  box-shadow: 2px 2px 50px 5px grey;
  border-radius: 30px;
}
